<%= simple_form_for(@instructor, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>

  <%= f.input :nombre, :label =>  "Nombres", :require => true %>
  <%= f.input :apellido, :label => "Apellidos", :require => true %>
  <%= f.input :cedula, :label => "Cedula", :require => true %>
  <%= f.input :telefono, :label => "Telefono", :require => true %>
  <%= f.input :direccion, :label => "Direccion", :require => true %>
  <p><%= f.label :materia_id %></p>
  <p><%= f.collection_select :materia_id, Materia.all, :id, :nombre_materia, prompt: "Materia" %></p>

  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to "Atras", instructores_path, :class => 'btn btn-small' %>
  </div>
<% end %>
