<%- model_class = Instructor -%>
<div class="page-header">
  <h1>Instructores</h1>
</div>

<div class="instructor">
  <p><%= @instructor.nombre %></p>
  <p><%= @instructor.apellido %></p>
  <p><%= @instructor.cedula %></p>
  <p><%= @instructor.telefono %></p>
  <p><%= @instructor.direccion %></p>
  <p><%= @instructor.materia.nombre_materia%></p>
</div>
