<%= simple_form_for @horario, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :dia %>
  <%= f.input :hora %>
  <%= f.input :aula %>
  <%= f.input :materia_id %>
  <%= f.input :instructor_id %>
  <%= f.input :curso_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                horarios_path, :class => 'btn' %>
  </div>
<% end %>
