<%= simple_form_for([@curso,@estudiante ], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
 
  <%= f.input :nombre, :label => "Nombre"  %>
  <%= f.input :apellido, :label => "Apellido" %>
  <%= f.input :cedula, :label => "Cedula"  %>
  <%= f.input :telefono, :label => "Telefono"  %>
  <%= f.input :email, :label => "Email"  %>
  <%= f.input :direccion, :label => "Direccion"  %>

  <!-- listas dependientes -->
  <%= f.label :curso_id %>
  <%= f.collection_select :curso_id, Curso.all, :id, :nombre%>
  <br>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', curso_estudiantes_path, :class => 'btn btn-small' %>
  </div>
<% end %>
