<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Identificacion:</b>
  <%= @persona.identificacion %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
<%= image_tag @persona.imagen.url(:small) %> 