<%- model_class = Estudiante -%>
<div class="page-header">
  <h1>Estudiantes</h1>
</div>

<div class='estudiante'>
  <p><%= @estudiante.nombre %></p>
  <p><%= @estudiante.apellido %></p>
  <p><%= @estudiante.cedula %></p>
  <p><%= @estudiante.telefono %></p>
  <p><%= @estudiante.direccion %></p>
  <p><%= @estudiante.asignatura.nombre_asignatura%></p>
</div