<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @producto.name %>
</p>

<p>
  <b>Marca:</b>
  <%= @producto.marca.name %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
