<%= link_to "home","",:class => 'brand'%>
<ul class="nav nav-pills ">
	<li class="active">
		<%= link_to('Meterias',materias_path) %>
	</li>
	<li>
	    <%= link_to('Instructores', instructores_path)%>
	</li>
	<li>
	    <%= link_to('Cursos',asignaturas_path)%>
	</li>
	<li>
	    <%= link_to('Horarios',horarios_path)%>
	</li>
</ul>
